
.listItem{
  margin-top: 20px;
  margin-bottom: -20px;
}
/*The items in stackview*/
.listItems{
  margin-left: 20px;
  text-align: left;
  font-weight: bold;

}
.deleteItem{
  text-align: center;
}
#listContainer{
  background-color: #dbf5f9;
  height: 400px;
}
