#overText{
  text-align: center;
  margin-top: 20%;
}

.nxtBtn{
  color: white;
}

#rogBiff{
    background-image: ~/images/huecolor.png;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
