GridLayout button{
  color: white;
  text-align: center;
  background-color: gray;
  margin: 20px;
}
.symptomCont{
  background-color: #82DBDE;
  border-radius: 15px;
  height: 140px;
  width: 90%;
  margin-top: 30px,
}
.symptomCont Label{
  color: white;
  text-align: left;
  font-weight: bold;
  font-size: 17pt;
  margin-top: 15px;
  margin-left: 20px;
}
.eventBtn{
  height: 50px;
  background-color: white;
  border-radius: 15px;
  color: black;
}
#inputSelf{
  color: white;
  margin-top:10%;
  margin-bottom:15%;
}
